<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"><!--言語の指定-->
  <head><!--ページに表示されない情報(サイトの裏側の設定)-->
    <meta charset="utf-8">
    <title></title><!--ブラウザのタブのタイトルを指定-->
    <link rel="stylesheet" type="text/css" href="stylesheets/index.css">
  <head>

<body>
<div class="big-box">

<div class="box1">
  <div class="box1-1">
  <p><span>和金</span></p>
  <p>大きさ：20cm～25cm<p>寿命：10～15年</p>
  <p>全ての金魚の原点とも言える品種で、原種のフナに近い姿をしています。現代では様々ある金魚の品種もみんな和金から始まりました。模様や尾の形のバリエーションが多く、初心者でも飼いやすい丈夫さがあります。</p>
  </div>
<p><%= image_tag "wakin.jpeg", class: "custom-image1" %></p><p><%= image_tag "更紗三ツ尾.jpeg", class: "custom-image2" %></p><p><%= image_tag "黒和金.jpeg", class: "custom-image3" %></p>
</div>

<div class="box2">
  <div class="box2-2">
  <p><span>琉金</span></p>
  <p>大きさ：20cm<p>寿命：10年</p>
  <p>和金と比べると丸くずんぐりした体型をした金魚です。琉球を経由して中国から日本にやってきました。長い尾ひれを振りながら泳ぐ姿は優雅で可愛らしく、紅白模様の更紗や３色のキャリコなど様々な品種が楽しめます。丈夫な品種ですが転覆病になりやすいため水質や餌の量には特に気をつけましょう。</p>
  </div>
<p><%= image_tag "赤琉金.jpeg", class: "custom-image4" %></p><p><%= image_tag "更紗琉金.jpeg", class: "custom-image5" %></p><p><%= image_tag "キャリコ琉金.jpeg", class: "custom-image6" %></p><p><%= image_tag "キャリコ琉金２.jpeg", class: "custom-image7" %></p><p><%= image_tag "黒琉金.jpeg", class: "custom-image8" %></p>
</div>

<div class="box3">
  <div class="box3-3">
  <p><span>ショートテール琉金</span><p><p>
  <p>その名の通り普通の琉金より尾が短いのが特徴です。琉金以上に丸いシルエットになり可愛らしい金魚で、その丸さから「だるま琉金」とも呼ばれます。飼育の注意点は基本的には琉金と同じです。</p>
  </div>
<p><%= image_tag "ショートテール.jpeg", class: "custom-image9" %></p>
</div>

<div class="box4">
  <div class="box4-4">
  <p><span>東錦</span><p>大きさ：15～30 cm</p>
  <p>寿命：5～10年</p>
  <p>キャリコ出目金とオランダ獅子頭の交配で作られた品種で、キャリコ柄で肉瘤が発達します。丈夫なので飼育はそれほど難しくなく、入手も比較的簡単ですが、肉瘤を大きく発達させるにはコツがいります。</p>
  </div>
<p><%= image_tag "東錦.jpeg", class: "custom-image10" %></p>
</div>


<div class="box5">
  <div class="box5-5">
  <p><span>コメット</span></p>
  <p>大きさ：20～30 cm</p>
  <p>寿命：10～15年<p>和金型の体型に、フナ尾を長くした「吹き流し尾」が特徴の品種です。アメリカで作出され、彗星のように長く尾を引く姿からこの名前が付きました。初心者でも飼育しやすい金魚の代表格ですが、丈夫かつ大きく育つ品種なので、大きめの水槽での長期飼育を視野に入れましょう。</p>
  </div>
<p><%= image_tag "更紗コメット.jpeg", class: "custom-image11" %></p><p><%= image_tag "コメット白.jpeg", class: "custom-image12" %></p><p><%= image_tag "レモンコメット.jpeg", class: "custom-image13" %></p>
</div>

<div class="box6">
  <div class="box6-6">
  <p><span>出目金</span></p>
  <p>大きさ：15～20 cm</p>
  <p>寿命：5年</p>
  <p>琉金の突然変異から生まれた、眼が大きく横に飛び出しているのが特徴の金魚です。飼育は特別難しくはありませんが眼はあちこちにぶつけて怪我をしやすいので水槽のインテリアは少なくするのがおすすめです。出目金にもいくつか品種があり、黒のイメージが強いかも知れませんが、実は原種は赤です。黒出目金は一般的で手に入りやすいですが、原種は赤なこともあって、成長と共に赤くなることがたまにありますが、病気ではないので安心してください。他にもキャリコ出目金や白出目金がいます。</p>
  </div>
<p><%= image_tag "黒出目金.jpeg", class: "custom-image14" %></p><p><%= image_tag "赤出目金.jpeg", class: "custom-image15" %></p>
</div>

<div class="box7">
  <div class="box7-7">
  <p><span>ランチュウ</span></p>
  <p>大きさ：20 cm</p>
  <p>寿命：5～10年</p>
  <p>金魚の王様とも呼ばれ、品評会が開かれるほど人気の種です。江戸時代に中国から持ち込まれ、現在は様々な品種が存在します。背びれのないずんぐりした体型で、頭に肉瘤と呼ばれるこぶが発達するのが特徴です。飼育は特別難しくはありませんが、泳ぎが遅く混泳向きではありません。また、転覆病になりやすいため注意が必要です。</p>
  </div>
<p><%= image_tag "ランチュウ.jpeg", class: "custom-image16" %></p><p><%= image_tag "ランチュウ白.jpeg", class: "custom-image17" %></p>
</div>

<div class="box8">
  <div class="box8-8">
  <p><span>ピンポンパール</span></p>
  <p>大きさ：15 cm</p>
  <p>寿命：5～10年</p>
  <p>ピンポン球のように丸い体に真珠のような粒状の鱗を持つ中国産の品種です。模様や色のバリエーションも多く人気が高い品種ですが、低温や水流に弱く、転覆病になりやすいなど飼育は難しめです。他種との混泳や無加温飼育は避けた方がいいでしょう。</p>
  </div>
<p><%= image_tag "ピンポンパール.jpeg", class: "custom-image18" %></p>
</div>

<div class="box9">
  <div class="box9-9">
  <p><span>水泡眼</span></p>
  <p>大きさ：15～20 cm</p>
  <p>寿命：5～10年<p>両眼の下に大きな袋がある品種です。袋の中にはリンパ液が入っています。原産地である中国では人気の品種で、様々な色のものが流通しています。水泡は他の魚につつかれたり、障害物に当たったりして破れやすいです。自然に治癒しますが、混泳は避けて水槽内のインテリアも少なくしましょう。</p>
  </div>
<p><%= image_tag "水泡眼赤.jpeg", class: "custom-image19" %></p><p><%= image_tag "水泡眼白.jpeg", class: "custom-image20" %></p>
</div>

<div class="box10">
  <div class="box10-10">
  <p><span>頂点眼</span></p>
  <p>大きさ：15 cm</p>
  <p>寿命：5～10年</p>
  <p>出目金のように飛び出した眼が特徴ですが、頂点眼の眼は常に水面方向を向いているのが出目金との大きな違いです。奇妙な見た目ですが、上から見ると目が合うといった可愛さもあります。流通しているのは大半が赤で他の色はあまり見かけません。泳ぎが苦手でじっとしていることが多く、餌を食べるのが遅いので他種との混泳には向きません。眼は傷つきやすいのでインテリアは少なめにしましょう。</p>
  <p>画像：有限会社プラスト</p>
  </div>
<p><%= image_tag "頂点眼.jpeg", class: "custom-image21" %></p>

</div>

<div class="box11">
  <div class="box11-11">
  <p><span>江戸錦</span></p>
  <p>大きさ：15 cm</p>
  <p>寿命：5～6年</p>
  <p>キャリコ模様でランチュウ型の体型の金魚を江戸錦と呼びます。ランチュウとキャリコ出目金の交配で作られました。珍しい金魚なので入手は簡単ではありません。飼育方法は基本的にランチュウと同じで特別難しくはありませんが、和金など泳ぎが速い種類との混泳は避けた方がいいでしょう。</p>
  </div>
<p><%= image_tag "江戸錦.jpeg", class: "custom-image22" %></p>
</div>

<div class="box12">
  <div class="box12-12">
  <p><span>丹頂</span></p>
  <p>大きさ：15 cm</p>
  <p>寿命：10年</p>
  <p>白い体で、頭部に赤い肉瘤が発達する品種で、丹頂鶴のような見た目から名づけられました。特に中国産のものは肉瘤が大きくなりやすいといわれています。体が大きくなりやすいので注意しましょう。混泳するなら琉金や出目金など泳ぎが遅い種類がおすすめです。</p>
  </div>
<p><%= image_tag "丹頂.jpeg", class: "custom-image23" %></p>
</div>

<div class="box13">
  <div class="box13-13">
  <p><span>朱文金</span></p>
  <p>大きさ：20～30 cm</p>
  <p>寿命：10年</p><p>赤、白、黒、浅葱色が入り交じったキャリコ模様が特徴の金魚です。和金とキャリコ出目金の交配で生まれました。黒の割合が多いもの、白の割合が多いものなど模様は個体差があり、成長過程で変わることもあります。丈夫で初心者でも飼いやすいです。</p>
  </div>
<p><%= image_tag "朱文金２.jpeg", class: "custom-image24" %></p><p><%= image_tag "朱文金.jpeg", class: "custom-image25" %></p>
</div>

<div class="box14">
  <div class="box14-14">
  <p><span>オランダ獅子頭</span></p>
  <p>大きさ:30～40 cm</p>
  <p>寿命：15年</p><p>琉金のような体型で、頭部に肉瘤という瘤が発達するのが特徴です。大きな肉瘤が獅子頭を思わせることからこの名が付きました。大型種でとても迫力があり、ヒレも長く優雅に育ちやすいので上からの鑑賞にも向いています。ずんぐりした琉金型の金魚の中では病気になりにくく丈夫なので初心者でも比較的飼いやすいです。かなりの大きさになるので大きな水槽を用意してあげましょう。</p>
  </div>
<p><%= image_tag "オランダ獅子頭.jpeg", class: "custom-image40" %></p>
</div>

<div class="box15">
  <div class="box15-15">
  <p><span>土佐錦</span></p>
  <p>大きさ：10～15 cm</p>
  <p>寿命：5～6年</p>
  <p>琉金体型に反転尾と呼ばれる扇のような形の尾を持つ金魚です。その美しさから「金魚の女王」と呼ばれることもあります。江戸時代に現在の高知県で独自の品種として確立され、今は天然記念物に指定されています。希少種なので入手が難しく、さらに近親交配が進んでいて病弱な体質なので飼育難易度も上級者向けです。</p>
  </div>
<p><%= image_tag "土佐錦.jpeg", class: "custom-image26" %></p>
</div>

<div class="box16">
<div class="box16-16">
  <p><span>地金</span></p>
  <p>大きさ：15～20 cm</p>
  <p>寿命：5年</p>
  <p>愛知県の天然記念物に指定されている希少な金魚です。X字に開いた孔雀尾と呼ばれる尾と、口先とヒレが赤く他は白い「六鱗」という体色が特徴的です。六鱗の体色は人工的に作り出しています。キャリコ柄の江戸地金など他の色柄も存在します。いずれも一般にはほとんど流通がなく入手は難しいです。また、本来丈夫な和金体型の金魚ですが、この種は体質的に弱いので飼育は難しいです。</p>
  <p>画像：Gyoogle.net</p>  
  </div>
<p><%= image_tag "地金六.jpeg", class: "custom-image27" %></p><p><%= image_tag "江戸地金.jpeg", class: "custom-image28" %></p>

</div>

<div class="box17">
  <div class="box17-17">
  <p><span>出雲南京</span></p>
  <p>大きさ：15～20 cm</p>
  <p>寿命：10年</p>
  <p>島根県の天然記念物に指定されています。背びれがなく丸々とした体型が特徴です。環境の変化に敏感な上、立派に成長させるには大きな水槽での多頭飼育が必要らしく、それなりの飼育設備が必要です。</p>
  <p>画像：金魚一道</p>
  </div>
<p><%= image_tag "出雲.jpeg", class: "custom-image29" %></p>

</div>

<div class="box18">
  <div class="box18-18">
  <p><span>茶金</span></p>
  <p>大きさ：10～20 cm</p>
  <p>寿命：5～6年</p>
  <p>茶色の体色が特徴的な金魚です。派手な色合いではありませんがこの渋さが魅力です。明るい茶色のものと黒褐色系のものがいます。体型に関しても、オランダ獅子頭のように肉瘤が発達するものと、発達しない琉金型のものの2タイプが存在し、同じ品種の中でも見た目の個体差が大きいです。流通は少ないですが、飼育は難しくありません。</p>
  </div>
<p><%= image_tag "茶金２.jpeg", class: "custom-image30" %></p>
</div>

<div class="box19">
  <div class="box19-19">
  <p><span>青文魚</span></p>
  <p>大きさ：20～25 cm</p>
  <p>寿命：10年</p>
  <p>青みがかった黒のような金魚では珍しい色合いです。一見地味な色ですが、他の金魚にはないこの独特な色合いこそが青文魚の魅力です。ただし、遺伝的な原因で成長に伴い白く色が変わることがよくあります。その変化を見ることも青文魚を飼う楽しみと言えるでしょう。肉瘤が発達するものとしないものがいます。飼育は琉金と方法で大丈夫です。</p>
  </div>
<p><%= image_tag "青文魚.jpeg", class: "custom-image31" %></p>
</div>

<div class="box20">
  <div class="box20-20">
  <p><span>玉サバ</span></p>
  <p>大きさ：20～30 cm</p>
  <p>寿命：5～10年</p>
  <p>丸い体型なので一見琉金と似ていますが、違いはフナ尾である点です。錦鯉と一緒に飼えるほど遊泳力に優れ、活発に泳ぎます。また、新潟県で作出されたこの品種は琉金型にしては寒さに強く、冬でも無加温で屋外飼育できます。混泳するなら和金などの遊泳力の高い種がおすすめです。玉サバの中でもさらに丸い体に改良されたものを「福だるま」といいます。</p>
  </div>
<p><%= image_tag "タマサバ.jpeg", class: "custom-image32" %></p>
</div>


<div class="box21">
  <div class="box21-21">
  <p><span>蝶尾</span></p>
  <p>大きさ：15 cm</p>
  <p>寿命：5～10年</p>
  <p>上から見ると尾が羽を開いた蝶のように見える優雅な金魚です。基本的に出目金のように目が飛び出しています。尾の形を楽しむためにも上から鑑賞するのがおすすめです。様々な色柄がありますが、中でも人気なのは白黒の「パンダ蝶尾」です。飼育は難しくありませんが、泳ぎが苦手なため水流を強くしないように注意しましょう。</p>
  </div>
<p><%= image_tag "パンダ.jpeg", class: "custom-image33" %></p>
</div>

<div class="box22">
  <div class="box22-22">
  <p><span>花房</span></p>
  <p>鼻の部分が房状に発達する金魚を総称して花房と呼びます。花房は茶金、ランチュウなど複数の種で見られます。ふさふさした花のようで可愛らしいですが、ほとんど流通しておらず大変珍しいと言えるでしょう。飼育自体は特別難しくはありません。</p>
  </div>
<p><%= image_tag "花房.jpeg", class: "custom-image34" %></p>
</div>

<div class="box23">
  <div class="box23-23">
  <p><span>高頭パール</span></p>
  <p>大きさ：25 cm</p>
  <p>寿命：10～15年</p>
  <p>肉瘤が大きく発達し、水泡のようになります。肉瘤が発達する種はたくさんいますが、この種は独特な形を楽しむことができます。また、鱗がピンポンパールのように粒状であることも特徴です。ピンポンパールより飼育難易度は低いため、パール鱗の金魚を飼育したいならこちらを飼うのも手です。水泡は傷つくと破れてしぼんでしまうのでレイアウトには気をつけましょう。</p>
  </div>
<p><%= image_tag "高頭パール.jpeg", class: "custom-image35" %></p>
</div>

</div>


