<%= form_for(@pet, class: 'form-horizontal', role: 'form') do |f| %>
    <div class="container-sindan">
        <div class="row">
            <div class="col-12">
                <p>Question1. 飼育難易度</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>普通</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>少し難しめ</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "3", nil %>かなり難しめ</p>
            </div>

            <div class="col-12">
                <p>Question2. 金魚のサイズ</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>大きくなる（20 cm超）</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>あまり大きくならない（20 cm未満）</p>
            </div>

            <div class="col-12">
                <p>Question3. 金魚の体型のタイプ</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>和金型（ほっそり）</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>琉金型（ずんぐり）</p>
            </div>




            <div class="col-12">
                <p>Question4. 寿命は…</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>長め（10年以上）</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>短め（10年未満）</p>
            </div>

            <div class="col-12">
                <p>Question5. 好みの色は…</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>赤</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>白</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "3", nil %>黒、茶など渋い色</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "4", nil %>キャリコ</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "5", nil %>紅白</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "6", nil %>その他・珍しい色</p>
            </div>
        </div>
    </div>
    <div class="sindanbotan">
        <%= f.submit "post" %>
    </div>
<% end %>