<div class="intoro">
<h5>診断結果</h5>
<p>あなたにおすすめの金魚は…</p>
</div>
<div class="tweet-container">
<div class="tweet">
    <% if @pet.question == "11111" %>
    <h6>和金</h6>
    <p><%= image_tag "wakin.jpeg", class: "custom-imageA" %></p>
    <p>丈夫で飼いやすく初心者にぴったり！</p>
    <p></p>

    <% elsif @pet.question == "11112" %>
    <h6>和金・コメット</h6>
    <p><%= image_tag "wakin.jpeg", class: "custom-imageB" %></p>
    <p><%= image_tag "sarasakometto.jpeg", class: "custom-imageC" %></p>
    <p>丈夫で飼いやすく初心者にぴったり！</p>
    <p></p>

    <% elsif @pet.question == "11113" %>
    <h6>和金</h6>
    <p><%= image_tag "wakin.jpeg", class: "custom-imageA" %></p>
    <p>丈夫で飼いやすく初心者にぴったり！</p>
    <p></p>

    <% elsif @pet.question == "11114" %>
    <h6>和金・朱文金</h6>
    <p><%= image_tag "wakin.jpeg", class: "custom-imageB" %></p>
    <p><%= image_tag "syubunnkin２.jpeg", class: "custom-imageC" %></p>
    <p>丈夫で飼いやすく初心者にぴったり！</p>
    <p></p>

    <% elsif @pet.question == "11115" %>
    <h6>和金・コメット</h6>
    <p><%= image_tag "wakin.jpeg", class: "custom-imageB" %></p>
    <p><%= image_tag "sarasakometto.jpeg", class: "custom-imageC" %></p>
    <p>丈夫で飼いやすく初心者にぴったり！</p>
    <p></p>

    <% elsif @pet.question == "11116" %>
    <h6>和金・コメット</h6>
    <p><%= image_tag "wakin.jpeg", class: "custom-imageB" %></p>
    <p><%= image_tag "remonkometto.jpeg", class: "custom-imageC" %></p>
    <p>丈夫で飼いやすく初心者にぴったり！</p>
    <p></p>

    <% elsif @pet.question == "12211" %>
    <h6>琉金</h6>
    <p><%= image_tag "akaryuukin.jpg", class: "custom-imageA" %></p>
    <p>丈夫で飼いやすく初心者にぴったり！</p>
    <p></p>

    <% elsif @pet.question == "12212" %>
    <h6>琉金</h6>
    <p><%= image_tag "sarasaryuukin.jpeg", class: "custom-imageA" %></p>
    <p>丈夫で飼いやすく初心者にぴったり！</p>
    <p></p>

    <% elsif @pet.question == "12213" %>
    <h6>琉金</h6>
    <p><%= image_tag "kuroryuukin.jpeg", class: "custom-imageA" %></p>
    <p>丈夫で飼いやすく初心者にぴったり！</p>
    <p></p>

    <% elsif @pet.question == "12214" %>
    <h6>琉金</h6>
    <p><%= image_tag "kyarikoryuukin２.jpeg", class: "custom-imageA" %></p>
    <p>丈夫で飼いやすく初心者にぴったり！</p>
    <p></p>

    <% elsif @pet.question == "12215" %>
    <h6>琉金</h6>
    <p><%= image_tag "sarasaryuukin.jpeg", class: "custom-imageA" %></p>
    <p>丈夫で飼いやすく初心者にぴったり！</p>
    <p></p>

    <% elsif @pet.question == "12216" %>
    <h6>琉金</h6>
    <p><%= image_tag "sarasaryuukin.jpeg", class: "custom-imageA" %></p>
    <p>丈夫で飼いやすく初心者にぴったり！</p>
    <p></p>

    <% elsif @pet.question == "11223" %>
    <h6>青文魚</h6>
    <p><%= image_tag "seibun.jpg", class: "custom-imageA" %></p>
    <p>派手な金魚とは別の魅力があります！</p>
    <p></p>

    <% elsif @pet.question == "12223" %>
    <h6>茶金・出目金・ランチュウ</h6>
    <p><%= image_tag "tyakin.jpeg", class: "custom-imageA" %></p>
    <p>派手な金魚とは別の魅力があります！</p>
    <p></p>

    <% elsif @pet.question == "32124" %>
    <h6>地金</h6>
    <p><%= image_tag "edozikin.jpg", class: "custom-imageA" %></p>
    <p>天然記念物に指定された上級者向けの種類です</p>
    <p></p>

    <% elsif @pet.question == "32125" %>
    <h6>地金</h6>
    <p><%= image_tag "rokurin.jpg", class: "custom-imageA" %></p>
    <p>天然記念物に指定された上級者向けの種類です</p>
    <p></p>

    <% elsif @pet.question == "32221" %>
    <h6>土佐錦</h6>
    <p><%= image_tag "tosanisiki.jpg", class: "custom-imageA" %></p>
    <p>天然記念物に指定された上級者向けの種類です</p>
    <p></p>

    <% elsif @pet.question == "32222" %>
    <h6>土佐錦</h6>
    <p><%= image_tag "tosanisiki.jpg", class: "custom-imageA" %></p>
    <p>天然記念物に指定された上級者向けの種類です</p>
    <p></p>

    <% elsif @pet.question == "32223" %>
    <h6>土佐錦</h6>
    <p><%= image_tag "tosanisiki.jpg", class: "custom-imageA" %></p>
    <p>天然記念物に指定された上級者向けの種類です</p>
    <p></p>

    <% elsif @pet.question == "32224" %>
    <h6>土佐錦</h6>
    <p><%= image_tag "tosanisiki.jpg", class: "custom-imageA" %></p>
    <p>天然記念物に指定された上級者向けの種類です</p>
    <p></p>

    <% elsif @pet.question == "32225" %>
    <h6>土佐錦・出雲ナンキン</h6>
    <p><%= image_tag "izumo.jpeg", class: "custom-imageB" %></p>
    <p><%= image_tag "tosanisiki.jpg", class: "custom-imageC" %></p>
    <p>天然記念物に指定された上級者向けの種類です</p>
    <p></p>

    <% elsif @pet.question == "32226" %>
    <h6>土佐錦</h6>
    <p><%= image_tag "tosanisiki.jpg", class: "custom-imageA" %></p>
    <p>天然記念物に指定された上級者向けの種類です</p>
    <p></p>

    <% elsif @pet.question == "12215" %>
    <h6>丹頂</h6>
    <p><%= image_tag "tantyo.jpeg", class: "custom-imageA" %></p>
    <p>鶴のような模様が美しい種類です</p>
    <p></p>

    <% elsif @pet.question == "12221" %>
    <h6>出目金・ランチュウ・蝶尾</h6>
    <p><%= image_tag "kurodeme.jpeg", class: "custom-imageE" %></p>
    <p><%= image_tag "ranntyu.jpeg", class: "custom-imageF" %></p>
    <p><%= image_tag "panda.jpg", class: "custom-imageG" %></p>
    <p>どれも独特の姿が魅力的な種類です。和金型との混泳は注意！</p>
    <p></p>

    <% elsif @pet.question == "12222" %>
    <h6>出目金・ランチュウ・蝶尾</h6>
    <p><%= image_tag "kurodeme.jpeg", class: "custom-imageE" %></p>
    <p><%= image_tag "ranntyu.jpeg", class: "custom-imageF" %></p>
    <p><%= image_tag "panda.jpg", class: "custom-imageG" %></p>
    <p>どれも独特の姿が魅力的な種類です。和金型との混泳は注意！</p>
    <p></p>

    <% elsif @pet.question == "12224" %>
    <h6>出目金・江戸錦・蝶尾</h6>
    <p><%= image_tag "kurodeme.jpeg", class: "custom-imageE" %></p>
    <p><%= image_tag "edonisiki.jpg", class: "custom-imageF" %></p>
    <p><%= image_tag "panda.jpg", class: "custom-imageG" %></p>
    <p>どれも独特の姿が魅力的な種類です。和金型との混泳は注意！</p>
    <p></p>

    <% elsif @pet.question == "12225" %>
    <h6>出目金・ランチュウ・蝶尾</h6>
    <p><%= image_tag "kurodeme.jpeg", class: "custom-imageE" %></p>
    <p><%= image_tag "ranntyu.jpeg", class: "custom-imageF" %></p>
    <p><%= image_tag "panda.jpg", class: "custom-imageG" %></p>
    <p>どれも独特の姿が魅力的な種類です。和金型との混泳は注意！</p>
    <p></p>

    <% elsif @pet.question == "12226" %>
    <h6>パンダ蝶尾</h6>
    <p><%= image_tag "panda.jpg", class: "custom-imageA" %></p>
    <p>蝶尾の中でも特に人気の柄です</p>
    <p></p>

    <% elsif @pet.question == "11224" %>
    <h6>東錦・玉サバ</h6>
    <p><%= image_tag "azumanisiki.jpg", class: "custom-imageB" %></p>
    <p><%= image_tag "tamasaba.jpeg", class: "custom-imageC" %></p>
    <p>大きく育ち迫力満点です！</p>
    <p></p>

    <% elsif @pet.question == "11221" %>
    <h6>玉サバ</h6>
    <p><%= image_tag "tamasaba.jpeg", class: "custom-imageA" %></p>
    <p>大きく育ち迫力満点です！</p>
    <p></p>

    <% elsif @pet.question == "11222" %>
    <h6>玉サバ</h6>
    <p><%= image_tag "tamasaba.jpeg", class: "custom-image32" %></p>
    <p>大きく育ち迫力満点です！</p>
    <p></p>

    <% elsif @pet.question == "11223" %>
    <h6>玉サバ</h6>
    <p><%= image_tag "tamasaba.jpeg", class: "custom-imageA" %></p>
    <p>大きく育ち迫力満点です！</p>
    <p></p>

    <% elsif @pet.question == "11225" %>
    <h6>玉サバ</h6>
    <p><%= image_tag "tamasaba.jpeg", class: "custom-imageA" %></p>
    <p>大きく育ち迫力満点です！</p>
    <p></p>

    <% elsif @pet.question == "11226" %>
    <h6>玉サバ</h6>
    <p><%= image_tag "tamasaba.jpeg", class: "custom-imageA" %></p>
    <p>大きく育ち迫力満点です！</p>
    <p></p>

    <% elsif @pet.question == "11211" %>
    <h6>オランダ獅子頭・高頭パール</h6>
    <p><%= image_tag "oranda.jpeg", class: "custom-imageB" %></p>
    <p><%= image_tag "pa-ru.jpeg", class: "custom-imageC" %></p>
    <p>大きく育ち迫力満点です！</p>
    <p></p>

    <% elsif @pet.question == "11212" %>
    <h6>オランダ獅子頭・高頭パール</h6>
    <p><%= image_tag "oranda.jpeg", class: "custom-imageB" %></p>
    <p><%= image_tag "pa-ru.jpeg", class: "custom-imageC" %></p>
    <p>大きく育ち迫力満点です！</p>
    <p></p>

    <% elsif @pet.question == "11213" %>
    <h6>オランダ獅子頭・高頭パール</h6>
    <p><%= image_tag "oranda.jpeg", class: "custom-imageB" %></p>
    <p><%= image_tag "pa-ru.jpeg", class: "custom-imageC" %></p>
    <p>大きく育ち迫力満点です！</p>
    <p></p>

    <% elsif @pet.question == "11215" %>
    <h6>オランダ獅子頭・高頭パール</h6>
    <p><%= image_tag "oranda.jpeg", class: "custom-imageB" %></p>
    <p><%= image_tag "pa-ru.jpeg", class: "custom-imageC" %></p>
    <p>大きく育ち迫力満点です！</p>
    <p></p>

    <% elsif @pet.question == "11216" %>
    <h6>オランダ獅子頭・高頭パール</h6>
    <p><%= image_tag "oranda.jpeg", class: "custom-imageB" %></p>
    <p><%= image_tag "pa-ru.jpeg", class: "custom-imageC" %></p>
    <p>大きく育ち迫力満点です！</p>
    <p></p>

    <% elsif @pet.question == "11214" %>
    <h6>高頭パール</h6>
    <p><%= image_tag "pa-ru.jpeg", class: "custom-imageA" %></p>
    <p>大きく育ち迫力満点です！</p>
    <p></p>

    <% elsif @pet.question == "22221" %>
    <h6>ピンポンパール・頂点眼・水泡眼</h6>
    <p><%= image_tag "pinnpon.jpg", class: "custom-imageE" %></p>
    <p><%= image_tag "tyoutenngan.jpg", class: "custom-imageF" %></p>
    <p><%= image_tag "suihouaka.jpeg", class: "custom-imageG" %></p>
    <p>飼育はやや難しめですが、愛らしい見た目が人気です</p>
    <p></p>

    <% elsif @pet.question == "22222" %>
    <h6>ピンポンパール・頂点眼・水泡眼</h6>
    <p><%= image_tag "pinnpon.jpg", class: "custom-imageE" %></p>
    <p><%= image_tag "tyoutenngan.jpg", class: "custom-imageF" %></p>
    <p><%= image_tag "suihouaka.jpeg", class: "custom-imageG" %></p>
    <p>飼育はやや難しめですが、愛らしい見た目が人気です</p>
    <p></p>

    <% elsif @pet.question == "22223" %>
    <h6>ピンポンパール・頂点眼・水泡眼</h6>
    <p><%= image_tag "pinnpon.jpg", class: "custom-imageE" %></p>
    <p><%= image_tag "tyoutenngan.jpg", class: "custom-imageF" %></p>
    <p><%= image_tag "suihouaka.jpeg", class: "custom-imageG" %></p>
    <p>飼育はやや難しめですが、愛らしい見た目が人気です</p>
    <p></p>

    <% elsif @pet.question == "22224" %>
    <h6>ピンポンパール・頂点眼・水泡眼</h6>
    <p><%= image_tag "pinnpon.jpg", class: "custom-imageE" %></p>
    <p><%= image_tag "tyoutenngan.jpg", class: "custom-imageF" %></p>
    <p><%= image_tag "suihouaka.jpeg", class: "custom-imageG" %></p>
    <p>飼育はやや難しめですが、愛らしい見た目が人気です</p>
    <p></p>

    <% elsif @pet.question == "22225" %>
    <h6>ピンポンパール・頂点眼・水泡眼</h6>
    <p><%= image_tag "pinnpon.jpg", class: "custom-imageE" %></p>
    <p><%= image_tag "tyoutenngan.jpg", class: "custom-imageF" %></p>
    <p><%= image_tag "suihouaka.jpeg", class: "custom-imageG" %></p>
    <p>飼育はやや難しめですが、愛らしい見た目が人気です</p>
    <p></p>

    <% elsif @pet.question == "22226" %>
    <h6>ピンポンパール・頂点眼・水泡眼</h6>
    <p><%= image_tag "pinnpon.jpg", class: "custom-imageE" %></p>
    <p><%= image_tag "tyoutenngan.jpg", class: "custom-imageF" %></p>
    <p><%= image_tag "suihouaka.jpeg", class: "custom-imageG" %></p>
    <p>飼育はやや難しめですが、愛らしい見た目が人気です</p>
    <p></p>

    

    <% end %>

</div>