

<body>
<div class="big-box">

   <div class="box1A">
      <div class="box1-A">
      <p><span>白点病</span></p>
      <p>病状：全身に小さな白い点が現れます。進行と共に白点は増えていき、魚が弱って最悪死に至ります。また、感染力も強く1匹が発症すると次々に広まるため注意が必要です。しかし、金魚飼育ではよくある病気で早めに治療すれば大事には至りません。</p>
      <p>原因：ウオノカイセンチュウという寄生虫が寄生することで起こります。新しく飼った魚と共に水槽に侵入することが多く、水質の悪化や激しい水温の変化で魚が弱ったときに発症しやすいです。</p>
      <p>※オスの金魚は繁殖期に「追い星」と呼ばれる白点が出ることがあり、これは病気ではありません。追い星はえらぶたや胸びれにまとまって出るのに対し、白点病は全身に散らばって出ます。</p>
      <p>治療薬：メチレンブルー、塩水浴（0.5％の塩水で飼育）</p>
      <p>画像：日本動物薬品</p>
      </div>
   <p><%= image_tag "hakuten.jpg", class: "custom-image101" %></p>
   </div>

   <div class="box2A">
      <div class="box2-A">
      <p><span>尾腐れ病</span></p>
      <p>病状：ヒレが裂けたり縁が溶けたりしてボロボロになってしまう病気です。ヒレの充血や白濁から始まり、重症になると尾ひれが溶けて無くなってしまい、衰弱して死んでしまいます。重症化する前に治療に取りかかれば大丈夫です。溶けたヒレも徐々に再生します。</p>
      <p>原因：カラムナリス菌という水中の常在菌が原因です。水質の悪化などで魚の免疫力が落ちると感染します。</p>
      <p>治療薬：メチレンブルー、グリーンFゴールド、観パラD、塩水浴</p>
      <p>画像：日本動物薬品</p>
      </div>
   <p><%= image_tag "ogusare.jpg", class: "custom-image102" %></p>
   </div>

   <div class="box3A">
      <div class="box3-A">
      <p><span>白雲病</span></p>
      <p>病状：雲のような白いモヤが体表に現れる病気です。初期症状として砂利に体をこすりつけるなどの行動が見られます。進行が速く、数日でモヤが全身に広がりエラを包むと呼吸困難で死に至ります。モヤが目視できる時点で魚はかなり弱っているので早急な対応が必要です。</p>
      <p>原因：寄生虫の感染が原因です。モヤは寄生されたことにより過剰に分泌された金魚の粘液です。金魚の体力が低下しているときに発症しやすく、他の病気で弱っているときに併発することもあります。</p>
      <p>治療薬：グリーンFゴールド、グリーンFリキッド</p>
      </div>
   <p><%= image_tag "sirokumo.jpg", class: "custom-image103" %></p>
   </div>

   <div class="box4A">
      <div class="box4-A">
      <p><span>水カビ病</span></p>
      <p>病状：体表に白い綿のようなカビが付着します。徐々に衰弱していき、末期になると泳ぐ力もなくして死んでしまいます。</p>    <p>原因：水槽内に常在する水カビによるものです。魚が弱っていたり、喧嘩などで傷ができると発病することがあります。</p>
      <p>治療薬：グリーンFリキッド、メチレンブルー、アグテン</p>
      <p>可能なら綿棒などで綿状になったカビを取り除くといいでしょう。</p>
      <p>画像：hi-fu-medaka.jugem.jp</p>
      </div>
   <p><%= image_tag "mizukabi.jpg", class: "custom-image104" %></p>
   </div>

 <div class="box5A">
    <div class="box5-A">
    <p><span>転覆病</span></p>
    <p>病状：魚が浮力や平衡感覚をコントロールできなくなり、水面でひっくり返ってしまいます。底に沈んだままに浮くことができなくなる場合もあります。琉金型の丸い金魚でよく見られる病気です。完治が難しく、死なずに済んでも上手く泳げないままになることも珍しくありません。</p>
    <p>原因：悪い餌を食べたり、水質悪化や水温変化によるストレスで消化不良になりガスが溜まると発症します。</p>
    <p>治療：水温をゆっくり25℃まで上昇させると、軽度であれば治ることがあります。</p>
    <p>画像：日本動物薬品</p>
    </div>
    <p><%= image_tag "tennpuku.jpg", class: "custom-image105" %></p>
    
 </div>

 <div class="box6A">
    <div class="box6-A">
    <p><span>松かさ病</span></p>
    <p>病状：鱗が逆立ち、松ぼっくりのようになる病気で、完治が難しい不治の病とも言われています。腎機能の障害で水分が排出できないために鱗が逆立ってきます。完全な松ぼっくり状になった時点でかなり重症で衰弱しています。</p>
    <p>原因：エロモナス菌に感染することが主な原因です。</p>
    <p>治療薬：グリーンFゴールド</p>
    <p>治る可能性は低いので、治療より予防が大切です。水質や水温の管理に気をつけましょう。</p>
    <p>画像：kingyobu.wordpress.com</p>
    </div>
    <p><%= image_tag "matsukasa.jpg", class: "custom-image106" %></p>
   
 </div>

 <div class="box7A">
    <div class="box7-A">
    <p><span>ポックス病</span></p>
    <p>病状：体に白またはピンク色のこぶができる病気です。大きなこぶができてしまうこともありますが、この病気が原因で死に至るケースは少なく、そのまま元気に生き続けることもよくあります。こぶが自然に消えたり取れたりすることはあまりなく、観賞魚としての見た目を損なってしまうのが難点です。</p>
    <p>原因：ウイルスが原因ですが、詳しいことは分かっていません。</p>
    <p>治療薬：完治する方法は今のところありません。こぶを切除するなどして一時的に取り除いても再発することが多いため、見守るのが一番だと思います。</p>
    </div>
    <p><%= image_tag "pokkusu.jpg", class: "custom-image107" %></p>
 </div>

 <div class="box8A">
    <div class="box8-A">
    <p><span>赤斑病</span></p>
    <p>病状：ヒレや体表が充血や出血が起こり赤い斑点ができます。重症化すると他の病気を併発することがあります。早期に治療すれば完治することができます。薄いピンクのアザが見られたら初期の赤斑病かも知れません。</p>
    <p>原因：エロモナス菌への感染が原因です。水質の悪化による病原体の増加と金魚の抵抗力低下により起こります。</p>
    <p>治療薬：塩水浴、観パラD、グリーンFゴールド、エルバージュエース</p>
    <p>画像：Quora</p>    
    </div>
    <p><%= image_tag "akamadara.jpeg", class: "custom-image108" %></p>
 </div>

 <div class="box9A">
    <div class="box9-A">
    <p><span>ポップアイ</span></p>
    <p>病状：眼圧が高くなり、出目金のように眼が飛び出してくる病気です。最悪の場合失明したり眼が取れたりすることがあります。眼が濁って見える場合は初期症状の可能性があります。</p>
    <p>原因：水質悪化やストレス、外傷からの細菌感染など原因は様々です。</p>
    <p>治療薬：塩水浴、グリーンFゴールド、観パラD</p>
    </div>
 </div>

 <div class="box10A">
    <div class="box10-A">
    <p><span>穴あき病</span></p>
    <p>病状：体表が充血したような状態から始まり、進行すると鱗が剥がれ、体に穴があくようにただれてきます。内臓まで穴があくことはありませんが、ひどくなれば死に至ります。赤斑病が悪化すると発症することが多いです。傷が大きくなると治療しても鱗がいびつな形で再生するなど見た目を損なう場合があります。</p>
    <p>原因：エロモナス菌への感染が原因です。</p>
    <p>治療薬：塩水浴、グリーンFゴールド、グリーンFリキッド、観パラD</p>
    <p>画像：aqualium dictionary</p>
    </div>
    <p><%= image_tag "anaaki.jpg", class: "custom-image1000" %></p>
    
 </div>

 <div class="box11A">
    <p><span>塩水浴について</span></p>
    <p>塩水浴は、魚の体内の塩分濃度に近い塩水で飼育することで、魚の体力を温存させる治療法です。淡水魚の場合、周囲の水より体内の方が塩分濃度が高く、浸透圧の影響で常に水が体内に入ってきます。入ってきたその余分な水を排出するのにいつもエネルギーを使っているのです。元気なときはこれで問題ありませんが、弱っている時は少しでも体力を温存させた方がいいため、0.5%程度の塩水で飼育し、排出のエネルギーを抑えるというわけです。病気の初期段階や少し弱っているときには効果的です。</p>
    <p>注意点</p>
    <p>･濃すぎる塩水は逆効果。塩の分量を間違えないようにしましょう。目安は水1 Lに塩5 gです</p>
    <p>･一気に0.5％にすると急な変化でストレスをかける恐れがあります。塩は少しずつ投入するといいでしょう</p>
    <p>･水草は枯れることがあるので取り出しましょう</p>
    <p>･塩水浴中も水換えを忘れずに！</p>
    <p>･味塩などの化学調味料が入った塩は避けた方が無難です</p>

    <p>金魚の病気は多くが水質悪化や水温の激しい変化などによって魚が弱ることが原因になります。普段から水質や温度に気をつければ多くの病気の予防になります。</p>
 </div>

</div>