


<%= form_for(@animal, class: 'form-horizontal', role: 'form') do |f| %>
    <div class="container-sindan">
        <div class="row">
            <div class="col-12">
                <p>Question1. 体型</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>和金型（細い）</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>琉金型（ずんぐり）</p>
            </div>

            <div class="col-12">
                <p>Question2. 尾の形</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>フナ尾</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>三ツ尾</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "3", nil %>四ツ尾</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "4", nil %>吹き流し尾</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "5", nil %>その他</p>
            </div>

            <div class="col-12">
                <p>Question3. 背びれ</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>あり</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>なし</p>
            </div>

            <div class="col-12">
                <p>Question4. 肉瘤</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>あり</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>なし</p>
            </div>

            <div class="col-12">
                <p>Question5. 色</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>赤</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>白</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "3", nil %>黒</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "4", nil %>茶</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "5", nil %>紅白</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "6", nil %>三色（キャリコ）</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "7", nil %>その他</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "8", nil %>肉瘤のみ赤</p>
            </div>
            
            <div class="col-12">
                <p>Question6. 特別な特徴</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "1", nil %>眼が飛び出している</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "2", nil %>眼の下に袋がある</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "3", nil %>つぶつぶの鱗</p>
            </div>
            <div class="col-6">
                <p><%= f.check_box :question, {multiple: true}, "4", nil %>なし</p>
            </div>
            
            </div>
            </div>
            <div class="sindanbotan">
                <%= f.submit "post" %>
            </div>
<% end %>