<div class="intoro">
            <h2>診断結果</h2>
            <p>この金魚の種類は…</p>
            </div>
        <div class="tweet-container">
            <div class="tweet">
                <% if @animal.question == "111214" %>
                <h1>和金</h1>
                <p><%= image_tag "wakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "111224" %>
                <h1>和金</h1>
                <p><%= image_tag "wakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "111234" %>
                <h1>和金</h1>
                <p><%= image_tag "wakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "111244" %>
                <h1>和金</h1>
                <p><%= image_tag "wakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "111254" %>
                <h1>和金</h1>
                <p><%= image_tag "wakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "111264" %>
                <h1>和金</h1>
                <p><%= image_tag "wakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "111274" %>
                <h1>和金</h1>
                <p><%= image_tag "wakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "121214" %>
                <h1>三ツ尾和金</h1>
                <p><%= image_tag "sarasamitsuo.jpeg", class: "custom-imageA" %></p><p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "121224" %>
                <h1>三ツ尾和金</h1>
                <p><%= image_tag "sarasamitsuo.jpeg", class: "custom-imageA" %></p><p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "121234" %>
                <h1>三ツ尾和金</h1>
                <p><%= image_tag "sarasamitsuo.jpeg", class: "custom-imageA" %></p><p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "121244" %>
                <h1>三ツ尾和金</h1>
                <p><%= image_tag "sarasamitsuo.jpeg", class: "custom-imageA" %></p><p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "121254" %>
                <h1>三ツ尾和金</h1>
                <p><%= image_tag "sarasamitsuo.jpeg", class: "custom-imageA" %></p><p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "121264" %>
                <h1>三ツ尾和金</h1>
                <p><%= image_tag "sarasamitsuo.jpeg", class: "custom-imageA" %></p><p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "121274" %>
                <h1>三ツ尾和金</h1>
                <p><%= image_tag "sarasamitsuo.jpeg", class: "custom-imageA" %></p><p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "131214" %>
                <h1>四ツ尾和金</h1>
                <p><%= image_tag "kurowakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "131274" %>
                <h1>四ツ尾和金</h1>
                <p><%= image_tag "kurowakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "131224" %>
                <h1>四ツ尾和金</h1>
                <p><%= image_tag "kurowakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "131234" %>
                <h1>四ツ尾和金</h1>
                <p><%= image_tag "kurowakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "131244" %>
                <h1>四ツ尾和金</h1>
                <p><%= image_tag "kurowakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "131254" %>
                <h1>四ツ尾和金</h1>
                <p><%= image_tag "kurowakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "131264" %>
                <h1>四ツ尾和金</h1>
                <p><%= image_tag "kurowakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "141214" %>
                <h1>コメット</h1>
                <p><%= image_tag "sarasakometto.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "141224" %>
                <h1>コメット</h1>
                <p><%= image_tag "sarasakometto.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "141254" %>
                <h1>更紗コメット</h1>
                <p><%= image_tag "sarasakometto.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "141274" %>
                <h1>レモンコメット</h1>
                <p><%= image_tag "remonkometto.jpeg", class: "custom-imageA" %></p>
                <p></p>黄色であればremonkomettoという品種です
                <p></p>

                <% elsif @animal.question == "141264" %>
                <h1>朱文金</h1>
                <p><%= image_tag "syubunnkin２.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231214" %>
                <h1>素赤琉金</h1>
                <p><%= image_tag "akaryuukin.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231224" %>
                <h1>白琉金</h1>
                <p><%= image_tag "sarasaryuukin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231234" %>
                <h1>黒琉金</h1>
                <p><%= image_tag "kuroryuukin.jpeg", class: "custom-imageA" %></p>
                <p>※肉瘤が発達しない青文魚の可能性もあります。</p>
                <p></p>

                <% elsif @animal.question == "231254" %>
                <h1>更紗琉金</h1>
                <p><%= image_tag "sarasaryuukin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231264" %>
                <h1>キャリコ琉金</h1>
                <p><%= image_tag "kyarikoryuukin２.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231274" %>
                <h1>琉金</h1>
                <p><%= image_tag "sarasaryuukin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231213" %>
                <h1>ピンポンパール</h1>
                <p><%= image_tag "pinnpon.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231223" %>
                <h1>ピンポンパール</h1>
                <p><%= image_tag "pinnpon.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>


                <% elsif @animal.question == "231233" %>
                <h1>ピンポンパール</h1>
                <p><%= image_tag "pinnpon.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>


                <% elsif @animal.question == "231253" %>
                <h1>ピンポンパール</h1>
                <p><%= image_tag "pinnpon.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>


                <% elsif @animal.question == "231263" %>
                <h1>ピンポンパール</h1>
                <p><%= image_tag "pinnpon.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>


                <% elsif @animal.question == "231273" %>
                <h1>ピンポンパール</h1>
                <p><%= image_tag "pinnpon.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231184" %>
                <h1>丹頂</h1>
                <p><%= image_tag "tantyo.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231144" %>
                <h1>茶金</h1>
                <p><%= image_tag "tyakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231244" %>
                <h1>茶金</h1>
                <p><%= image_tag "tyakin.jpeg", class: "custom-imageA" %></p>
                <p>肉瘤が発達しないタイプかもしれません</p>
                <p></p>

                <% elsif @animal.question == "231134" %>
                <h1>青文魚</h1>
                <p><%= image_tag "seibun.jpg", class: "custom-imageA" %></p>
                <p>※真っ黒に近い黒ならオランダ獅子頭の可能性があります</p>
                <p>青文魚は黒っぽい銀色です。</p>

                <% elsif @animal.question == "231114" %>
                <h1>オランダ獅子頭</h1>
                <p><%= image_tag "oranda.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231124" %>
                <h1>オランダ獅子頭</h1>
                <p><%= image_tag "oranda.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231154" %>
                <h1>オランダ獅子頭</h1>
                <p><%= image_tag "oranda.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231164" %>
                <h1>オランダ獅子頭</h1>
                <p><%= image_tag "oranda.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231174" %>
                <h1>オランダ獅子頭</h1>
                <p><%= image_tag "oranda.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "232211" %>
                <h1>頂点眼</h1>
                <p><%= image_tag "tyoutenngan.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "232212" %>
                <h1>水泡眼</h1>
                <p><%= image_tag "suihouaka.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "232222" %>
                <h1>水泡眼</h1>
                <p><%= image_tag "suihouaka.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "232232" %>
                <h1>水泡眼</h1>
                <p><%= image_tag "suihouaka.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "232242" %>
                <h1>水泡眼</h1>
                <p><%= image_tag "suihouaka.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "232252" %>
                <h1>水泡眼</h1>
                <p><%= image_tag "suihouaka.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "232262" %>
                <h1>水泡眼</h1>
                <p><%= image_tag "suihouaka.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "232272" %>
                <h1>水泡眼</h1>
                <p><%= image_tag "suihouaka.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231211" %>
                <h1>出目金</h1>
                <p><%= image_tag "kurodeme.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231211" %>
                <h1>出目金</h1>
                <p><%= image_tag "kurodeme.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231221" %>
                <h1>出目金</h1>
                <p><%= image_tag "kurodeme.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231231" %>
                <h1>出目金</h1>
                <p><%= image_tag "kurodeme.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231241" %>
                <h1>出目金</h1>
                <p><%= image_tag "kurodeme.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231251" %>
                <h1>出目金</h1>
                <p><%= image_tag "kurodeme.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231261" %>
                <h1>出目金</h1>
                <p><%= image_tag "kurodeme.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231271" %>
                <h1>出目金</h1>
                <p><%= image_tag "kurodeme.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "242114" %>
                <h1>ランチュウ</h1>
                <p><%= image_tag "ranntyu.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "242124" %>
                <h1>ランチュウ</h1>
                <p><%= image_tag "ranntyu.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "242134" %>
                <h1>ランチュウ</h1>
                <p><%= image_tag "ranntyu.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "242144" %>
                <h1>ランチュウ</h1>
                <p><%= image_tag "ranntyu.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "242154" %>
                <h1>ランチュウ</h1>
                <p><%= image_tag "ranntyu.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "242164" %>
                <h1>江戸錦</h1>
                <p><%= image_tag "edonisiki.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "242174" %>
                <h1>ランチュウ</h1>
                <p><%= image_tag "ranntyu.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "242254" %>
                <h1>出雲南京</h1>
                <p><%= image_tag "izumo.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "242214" %>
                <h1>出雲南京</h1>
                <p><%= image_tag "izumo.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "242224" %>
                <h1>出雲南京</h1>
                <p><%= image_tag "izumo.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "151224" %>
                <h1>地金</h1>
                <p><%= image_tag "rokurin.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "151264" %>
                <h1>江戸地金</h1>
                <p><%= image_tag "edozikin.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "251214" %>
                <h1>土佐錦</h1>
                <p><%= image_tag "tosanisiki.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "251274" %>
                <h1>土佐錦</h1>
                <p><%= image_tag "tosanisiki.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "251224" %>
                <h1>土佐錦</h1>
                <p><%= image_tag "tosanisiki.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "251234" %>
                <h1>土佐錦</h1>
                <p><%= image_tag "tosanisiki.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "251244" %>
                <h1>土佐錦</h1>
                <p><%= image_tag "tosanisiki.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "251254" %>
                <h1>土佐錦</h1>
                <p><%= image_tag "tosanisiki.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "251264" %>
                <h1>土佐錦</h1>
                <p><%= image_tag "tosanisiki.jpg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231113" %>
                <h1>高頭パール</h1>
                <p><%= image_tag "pa-ru.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231123" %>
                <h1>高頭パール</h1>
                <p><%= image_tag "pa-ru.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231153" %>
                <h1>高頭パール</h1>
                <p><%= image_tag "pa-ru.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231163" %>
                <h1>高頭パール</h1>
                <p><%= image_tag "pa-ru.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% end %>

        </div>