<div class="intoro">
            <h5>診断結果</h5>
            <p>この金魚の種類は…</p>
        </div>
        <div class="tweet-container">
            <div class="tweet">
                <% if @animal.question == "111214" %>
                <h6>和金</h6>
                <p><%= image_tag "wakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "111224" %>
                <h6>和金</h6>
                <p><%= image_tag "wakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "111234" %>
                <h6>和金</h6>
                <p><%= image_tag "wakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "111244" %>
                <h6>和金</h6>
                <p><%= image_tag "wakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "111254" %>
                <h6>和金</h6>
                <p><%= image_tag "wakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "111264" %>
                <h6>和金</h6>
                <p><%= image_tag "wakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "111274" %>
                <h6>和金</h6>
                <p><%= image_tag "wakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "121214" %>
                <h6>三ツ尾和金</h6>
                <p><%= image_tag "sarasamitsuo.jpeg", class: "custom-imageA" %></p><p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "121224" %>
                <h6>三ツ尾和金</h6>
                <p><%= image_tag "sarasamitsuo.jpeg", class: "custom-imageA" %></p><p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "121234" %>
                <h6>三ツ尾和金</h6>
                <p><%= image_tag "sarasamitsuo.jpeg", class: "custom-imageA" %></p><p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "121244" %>
                <h6>三ツ尾和金</h6>
                <p><%= image_tag "sarasamitsuo.jpeg", class: "custom-imageA" %></p><p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "121254" %>
                <h6>三ツ尾和金</h6>
                <p><%= image_tag "sarasamitsuo.jpeg", class: "custom-imageA" %></p><p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "121264" %>
                <h6>三ツ尾和金</h6>
                <p><%= image_tag "sarasamitsuo.jpeg", class: "custom-imageA" %></p><p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "121274" %>
                <h6>三ツ尾和金</h6>
                <p><%= image_tag "sarasamitsuo.jpeg", class: "custom-imageA" %></p><p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "131214" %>
                <h6>四ツ尾和金</h6>
                <p><%= image_tag "kurowakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "131274" %>
                <h6>四ツ尾和金</h6>
                <p><%= image_tag "kurowakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "131224" %>
                <h6>四ツ尾和金</h6>
                <p><%= image_tag "kurowakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "131234" %>
                <h6>四ツ尾和金</h6>
                <p><%= image_tag "kurowakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "131244" %>
                <h6>四ツ尾和金</h6>
                <p><%= image_tag "kurowakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "131254" %>
                <h6>四ツ尾和金</h6>
                <p><%= image_tag "kurowakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "131264" %>
                <h6>四ツ尾和金</h6>
                <p><%= image_tag "kurowakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "141214" %>
                <h6>コメット</h6>
                <p><%= image_tag "sarasakometto.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "141224" %>
                <h6>コメット</h6>
                <p><%= image_tag "sarasakometto.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "141254" %>
                <h6>更紗コメット</h6>
                <p><%= image_tag "sarasakometto.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "141274" %>
                <h6>レモンコメット</h6>
                <p><%= image_tag "remonkometto.jpeg", class: "custom-imageA" %></p>
                <p></p>黄色であればremonkomettoという品種です
                <p></p>

                <% elsif @animal.question == "141264" %>
                <h6>朱文金</h6>
                <p><%= image_tag "syubunnkin２.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231214" %>
                <h6>素赤琉金</h6>
                <p><%= image_tag "akaryuukin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231224" %>
                <h6>白琉金</h6>
                <p><%= image_tag "sarasaryuukin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231234" %>
                <h6>黒琉金</h6>
                <p><%= image_tag "kuroryuukin.jpeg", class: "custom-imageA" %></p>
                <p>※肉瘤が発達しない青文魚の可能性もあります。</p>
                <p></p>

                <% elsif @animal.question == "231254" %>
                <h6>更紗琉金</h6>
                <p><%= image_tag "sarasaryuukin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231264" %>
                <h6>キャリコ琉金</h6>
                <p><%= image_tag "kyarikoryuukin２.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231274" %>
                <h6>琉金</h6>
                <p><%= image_tag "sarasaryuukin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231213" %>
                <h6>ピンポンパール</h6>
                <p><%= image_tag "pinnpon.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231223" %>
                <h6>ピンポンパール</h6>
                <p><%= image_tag "pinnpon.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>


                <% elsif @animal.question == "231233" %>
                <h6>ピンポンパール</h6>
                <p><%= image_tag "pinnpon.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>


                <% elsif @animal.question == "231253" %>
                <h6>ピンポンパール</h6>
                <p><%= image_tag "pinnpon.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>


                <% elsif @animal.question == "231263" %>
                <h6>ピンポンパール</h6>
                <p><%= image_tag "pinnpon.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>


                <% elsif @animal.question == "231273" %>
                <h6>ピンポンパール</h6>
                <p><%= image_tag "pinnpon.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231184" %>
                <h6>丹頂</h6>
                <p><%= image_tag "tantyo.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231144" %>
                <h6>茶金</h6>
                <p><%= image_tag "tyakin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231244" %>
                <h6>茶金</h6>
                <p><%= image_tag "tyakin.jpeg", class: "custom-imageA" %></p>
                <p>肉瘤が発達しないタイプかもしれません</p>
                <p></p>

                <% elsif @animal.question == "231134" %>
                <h6>青文魚</h6>
                <p><%= image_tag "seibun.jpeg", class: "custom-imageA" %></p>
                <p>※真っ黒に近い黒ならオランダ獅子頭の可能性があります</p>
                <p>青文魚は黒っぽい銀色です。</p>

                <% elsif @animal.question == "231114" %>
                <h6>オランダ獅子頭</h6>
                <p><%= image_tag "oranda.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231124" %>
                <h6>オランダ獅子頭</h6>
                <p><%= image_tag "oranda.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231154" %>
                <h6>オランダ獅子頭</h6>
                <p><%= image_tag "oranda.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231164" %>
                <h6>オランダ獅子頭</h6>
                <p><%= image_tag "oranda.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231174" %>
                <h6>オランダ獅子頭</h6>
                <p><%= image_tag "oranda.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "232211" %>
                <h6>頂点眼</h6>
                <p><%= image_tag "tyoutenngan.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "232212" %>
                <h6>水泡眼</h6>
                <p><%= image_tag "suihouaka.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "232222" %>
                <h6>水泡眼</h6>
                <p><%= image_tag "suihouaka.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "232232" %>
                <h6>水泡眼</h6>
                <p><%= image_tag "suihouaka.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "232242" %>
                <h6>水泡眼</h6>
                <p><%= image_tag "suihouaka.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "232252" %>
                <h6>水泡眼</h6>
                <p><%= image_tag "suihouaka.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "232262" %>
                <h6>水泡眼</h6>
                <p><%= image_tag "suihouaka.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "232272" %>
                <h6>水泡眼</h6>
                <p><%= image_tag "suihouaka.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231211" %>
                <h6>出目金</h6>
                <p><%= image_tag "kurodeme.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231211" %>
                <h6>出目金</h6>
                <p><%= image_tag "kurodeme.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231221" %>
                <h6>出目金</h6>
                <p><%= image_tag "kurodeme.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231231" %>
                <h6>出目金</h6>
                <p><%= image_tag "kurodeme.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231241" %>
                <h6>出目金</h6>
                <p><%= image_tag "kurodeme.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231251" %>
                <h6>出目金</h6>
                <p><%= image_tag "kurodeme.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231261" %>
                <h6>出目金</h6>
                <p><%= image_tag "kurodeme.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231271" %>
                <h6>出目金</h6>
                <p><%= image_tag "kurodeme.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "242114" %>
                <h6>ランチュウ</h6>
                <p><%= image_tag "ranntyu.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "242124" %>
                <h6>ランチュウ</h6>
                <p><%= image_tag "ranntyu.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "242134" %>
                <h6>ランチュウ</h6>
                <p><%= image_tag "ranntyu.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "242144" %>
                <h6>ランチュウ</h6>
                <p><%= image_tag "ranntyu.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "242154" %>
                <h6>ランチュウ</h6>
                <p><%= image_tag "ranntyu.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "242164" %>
                <h6>江戸錦</h6>
                <p><%= image_tag "edonisiki.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "242174" %>
                <h6>ランチュウ</h6>
                <p><%= image_tag "ranntyu.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "242254" %>
                <h6>出雲南京</h6>
                <p><%= image_tag "izumo.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "242214" %>
                <h6>出雲南京</h6>
                <p><%= image_tag "izumo.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "242224" %>
                <h6>出雲南京</h6>
                <p><%= image_tag "izumo.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "151224" %>
                <h6>地金</h6>
                <p><%= image_tag "rokurin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "151264" %>
                <h6>江戸地金</h6>
                <p><%= image_tag "edozikin.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "251214" %>
                <h6>土佐錦</h6>
                <p><%= image_tag "tosanisiki.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "251274" %>
                <h6>土佐錦</h6>
                <p><%= image_tag "tosanisiki.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "251224" %>
                <h6>土佐錦</h6>
                <p><%= image_tag "tosanisiki.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "251234" %>
                <h6>土佐錦</h6>
                <p><%= image_tag "tosanisiki.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "251244" %>
                <h6>土佐錦</h6>
                <p><%= image_tag "tosanisiki.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "251254" %>
                <h6>土佐錦</h6>
                <p><%= image_tag "tosanisiki.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "251264" %>
                <h6>土佐錦</h6>
                <p><%= image_tag "tosanisiki.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231113" %>
                <h6>高頭パール</h6>
                <p><%= image_tag "pa-ru.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231123" %>
                <h6>高頭パール</h6>
                <p><%= image_tag "pa-ru.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231153" %>
                <h6>高頭パール</h6>
                <p><%= image_tag "pa-ru.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% elsif @animal.question == "231163" %>
                <h6>高頭パール</h6>
                <p><%= image_tag "pa-ru.jpeg", class: "custom-imageA" %></p>
                <p></p>
                <p></p>

                <% end %>

        </div>